@import 'utils/functions';
@import 'components/type';

//  @function px-to-rem($size){
//     @return $size /16 + rem;
// }

* {
    margin: 0; 
    margin-inline-start: 0;
    margin-inline-end: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
    padding-block-start: 0;
    padding-block-end: 0;
  }

body {
    font-family: "fagun", sans-serif ;
    overflow-x: hidden;
}

main {
    background-color: #EBF2F0 ;
    position: relative;
}

.upp {
    text-transform: uppercase;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: 700;
}

.medium {
    font-weight: 600;
}

.top__bg {
    position: fixed;
    top: 0;
    z-index: 2;
    height: 100%;
}

.top__bg--right {
    top: 0;
    right: 0;
    transform: translateX(10px);
}

.top__bg--left {
    top: 0;
    left: 0;
    transform: translateX(-10px);
}

.head {
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: #222d34 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden ;
    position: fixed;
    top: 0;
    z-index: 1;

    &__title--big {
        font-family: "groupie-regular", sans-serif;
        font-weight: 400;
        background: linear-gradient(to bottom, #222d34, #F2527D, #F285A2, #F2527D, #222d34);
        background-clip: text;
        color: transparent;
        font-size: clamp(7.375rem, 0.4792rem + 30.6481vw, 28.0625rem); 
        text-align: center;
    }

    &__title--small {
        color: #EBF2F0;
        font-size: clamp(2rem, 1.7083rem + 1.2963vw, 2.875rem);
        font-weight: 500;
        letter-spacing: clamp(0.82rem, -0.99rem + 8.0444vw, 6.25rem);
        text-indent: clamp(0.82rem, -0.99rem + 8.0444vw, 6.25rem);
        text-align: center;
        margin-top: -20px;
    }
    
    


}

.intro {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
    background-color: #EBF2F0;
    margin-top: 100vh;

    &__text {
        font-size: clamp(3.625rem, 2.2463rem + 6.1275vw, 5.1875rem);
        line-height: 110%;
        text-align: right;
        padding-right: 36px;
        margin: 177px 0 0 58px;
        max-width: 400px;
    }

    & mark {
        font-style: italic;
        font-weight: 400;
        background: transparent;
        background-image: linear-gradient(to left, #EBF2F0, #F285A2, #F2527D, #F285A2, #EBF2F0);
        // background: rgba($color: #F2527D, $alpha: 0.7);
        border-radius: 0.6em 0.2em;
        padding: 0 8px;

    }

    &__bg {
        position: absolute;

        &--left {
            left: 0;
       }
   
       &--right {
           right: 0;
       }
    }

}

.content {
    padding: 224px 29px 0 29px;
    z-index: 2;
    background-color: #EBF2F0;
    position: relative;

    &__svg--left, &__svg--right {
        display: none;
    }

    

    &__deco {
        display: flex;
        flex-direction: column;
        width: 100%;

        &__deco--grid {
            display: grid;
            grid-template-columns: 1fr;
        }

        &--jeu {
            line-height: 140%;
            margin: 90px 0;
        }

        &--img {
            grid-column: 1/2;
        }

        &--simg {
            width: 75%;
            margin-bottom: 44px;
        }

        &--simg:last-of-type {
            margin: 0;
        }


        &--txt {
            font-size: clamp(1rem, 0.5595rem + 1.9578vw, 1.8125rem);
            font-weight: 700;
            max-width: 500px;
            text-wrap: pretty;
            margin-top: 22px;

            & span {
                font-weight: 400;
                font-style: italic;
            }
        }

        &--txt02 {
            margin-top: 0px;
        }

        
        

        &--desc {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
            border-bottom: 2px solid black;
            margin-top: 22px;
        }

        &--desc02 {
            margin: 246px 0 22px 0;
        }
    }

    &__deco--inv {
        flex-direction: column-reverse;
    }
}

.tda {

    padding-top: 224px;
    z-index: 2;
    background-color: #EBF2F0;
    position: relative;


    &__deco {
        display: flex; 
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: -2px;
    }

    &__deco--inv {
        align-items: flex-start;
        margin-top: -1px;
    }

    &__content {
        background-color: #222d34;
        color: #EBF2F0;
        padding: 67px 29px;

        &--txt {
            border-bottom: 1px solid #EBF2F0;
            padding-bottom: 4px;
            margin-bottom: 67px;
        }

        &--card {
            border: 2px solid #EBF2F0; 
            padding: 51px 12px 12px 12px;

        
        }

        &--card:nth-child(3) {
            margin: 12px 0 ;
        }

    }
    .tda__card--title {
        font-size: px-to-rem(36);
        font-weight: 400;
        margin-bottom: 25px;
    }

}

.footer {
    background-color: #EBF2F0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;

    &__deco {
        transform: rotate(180deg);
        display: flex;
        justify-content: space-between;
        bottom: 0;
        width: 100%;
        z-index: 3;
    }

    &__content {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        font-size: px-to-rem(16px);
    }
}


@media (min-width: 768px) {


    .intro {

        &__text {
            max-width: inherit;
            text-align: center;
            font-size: px-to-rem(52);
            max-width: 700px;
            line-height: 140%;
            margin: 312px 0 0 0;
        }

    }


    

    .content {
        padding: 198px 44px 0 44px;
        position: relative; 

        &__svg--left, &__svg--right {
            display: block;
            position: absolute;
        }

        &__svg--left {
            left: -20px;
            top: 132px;
        }

        &__svg--right {
            right: -20px;
            bottom: 112px;
        }

        &__deco {
            &--grid{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
                gap: 22px;
                margin-top: 0;
            }

            &--txt {
                min-width: 75%;
                max-width: 700px;
            }

            &--desc02 {
                margin: 224px 0 44px 0;
            }
    
            &--desc {
                grid-column: 1/9;
                grid-row: 1/2;
            }
        
            &--img {
                grid-column: 1/5;
                width: 100%;
            }
        
            &--jeu {
                font-size: px-to-rem(18);
                grid-column: 5/9;
                margin: 0;
            }

            &--simg {
                grid-column: 1/5;
                width: 100%;
                margin: 0;
            }

            &--simg:last-of-type{
                grid-column: 5/9;
            }
        }

        

        

    }

    .game {

        padding: 22px 44px 0 44px;

        &__img {
            padding: 0;
        }

        

        &__img img:last-of-type {
            margin: 0;
        }

        &__img--1 {
            grid-column: 1/5;
            margin: inherit;
        }

        &__img--2 {
            grid-column: 5/9;
            margin: inherit;
        }
    }

    .tda {

        padding-bottom: 112px;

        &__content--card {
            padding: 66px 22px 22px 22px;
        }

        & .tda__card--title {
            font-size: px-to-rem(46); 
            margin-bottom: 32px;
        }

        & .tda__card--txt {
            font-size: px-to-rem(18);
        }
    }

    
    

}

@media (min-width: 1024px) {
    
    .head {
        &__title--big, &__title--small {
            transform: translateY(-20px);
        }

        &__title--small {
            margin-top: -40px;
        }
    }

    .intro {
        &__text {
            padding: 0;
            margin-top: 224px;
        }
    }

    .content {
        padding: 224px 62px 0;

        &__deco {

            &--inv{
                width: 75%;
            }

            &--desc {
                margin-top: 22px;
            }

            &--desc02 {
                margin: 292px 0 76px;
            }

            &--grid{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
                gap: 22px;
                margin-top: 0;
            }
    
            &--txt {
                text-wrap: pretty;
            }
            
            &--img {
                grid-column: 1/4;
                grid-row: 1/3;
                width: 100%;
            }
            
            &--jeu {
                font-size: px-to-rem(20);
                grid-column: 4/8;
                grid-row: 2/3;
                margin: 0;
            }
    
            &--simg {
                grid-column: 4/6;
                grid-row: 1/2;
                width: 100%;
                margin: 0;
            }
    
            &--simg:last-of-type{
                grid-column: 6/8;
            }
        }
    }


    .tda {

        

        &__content {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            gap: 22px;

            &--card:nth-child(3) {
                margin: 0 0 ;
            }

            &--txt {
                grid-column: 1/8;
            }

            &--card01 {
                grid-column: 1/4;
            }

            &--card02 {
                grid-column: 4/8;
            }

            &--card03 {
                grid-column: 1/8;
            }
        }
    }


}

    @media (min-width: 1400px) {
        
        .tda {

            &__content {
    
                &--txt {
                    grid-column: 1/8;
                }
    
                &--card01 {
                    grid-column: 1/4;
                }
    
                &--card02 {
                    grid-column: 4/6;
                }
    
                &--card03 {
                    grid-column: 6/8;
                }
            }

    }

    

}


// .tda .tda__card--title {
//     font-size: px-to-rem(30) !important;
//     color: blue;
// }