@import 'utils/functions';
@import 'components/type';

//  @function px-to-rem($size){
//     @return $size /16 + rem;
// }

* {
    margin: 0; 
    margin-inline-start: 0;
    margin-inline-end: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
    padding-block-start: 0;
    padding-block-end: 0;
  }

body {
    font-family: "fagun", sans-serif ;
}

main {
    background-color: #EBF2F0 ;
}

.upp {
    text-transform: uppercase;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: 700;
}

.medium {
    font-weight: 600;
}

.head {
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: #222d34 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden ;

    &__title--big {
        font-family: "groupie-regular", sans-serif;
        background: linear-gradient(to bottom, #222d34, #F2527D, #F285A2, #F2527D, #222d34);
        background-clip: text;
        color: transparent;
        font-size: px-to-rem(118) ; 
        text-align: center;
    }

    &__title--small {
        color: #EBF2F0;
        font-size: px-to-rem(32);
        font-weight: 500;
        letter-spacing: 13.12px;
        text-indent: 13.12px;
        text-align: center;
        margin-top: -20px;
    }

    

    &__bg {
        position: absolute;
        height: 100%;
        z-index: 1;
    }
    
    &__bg--right {
        top: 0;
        right: 0;
        transform: translateX(10px);
    }
    
    &__bg--left {
        top: 0;
        left: 0;
        transform: translateX(-10px);
    }


}

.intro {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;

    &__text {
        font-size: px-to-rem(32);
        text-align: center;
        width: 150px;
        margin-top: 177px;
    }

    & mark {
        font-style: italic;
        font-weight: 400;
        background: transparent;
        background-image: linear-gradient(to left, #EBF2F0, #F285A2, #F2527D, #F285A2, #EBF2F0);
        // background: rgba($color: #F2527D, $alpha: 0.7);
        border-radius: 0.6em 0.2em;
        padding: 0 8px;

    }

    &__bg {
        position: absolute;

        &--left {
            left: 0;
       }
   
       &--right {
           right: 0;
       }
    }

}

.content {
    padding: 224px 29px 0 29px;

    &__deco {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;

        &--img img {
            width: 100%;
        }

        &--desc {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border-bottom: 2px solid black;
            margin-top: 22px;
        }

        &--desc02 {
            margin: 246px 0 22px 0;
        }
    }

    &__deco--inv {
        flex-direction: column-reverse;
    }
}

.game {

    padding:0 29px;
    margin-top: 90px;

    &__txt {
        line-height: 140%;
    }

    &__img  {
        margin-top: 90px;
        padding-right: 68px;
        
        & img {
            width: 100%;
        }

        & img:last-of-type {
            margin-top: 44px;
        }
    }

}

.tda {

}


